* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__postsRight {
  display: flex;
  margin-left: 20px;
}

.app__postsRightButton {
  display: flex;
  margin-left: 20px;
  border: solid 1px lightgray !important;
  border-radius: 0% !important;
  max-height: 50px;
  padding: 20px !important;
  position: fixed !important;
  color: gray;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  width: 110px;
  object-fit: contain;
  margin-left: 40px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
